@font-face {
  src: url("../fonts/FuturaPT-ExtraBold.woff2"), url("../fonts/FuturaPT-ExtraBold.woff");
  font-family: 'futura', Arial, sans-serif;
  font-weight: 900;
}

@font-face {
  src: url("../fonts/FuturaPTCond-Bold.woff2"), url("../fonts/FuturaPTCond-Bold.woff");
  font-family: 'futura', Arial, sans-serif;
  font-weight: 800;
}

@font-face {
  src: url("../fonts/FuturaPT-Heavy.woff2"), url("../fonts/FuturaPT-Heavy.woff");
  font-family: 'futura';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/FuturaPT-Light.woff2"), url("../fonts/FuturaPT-Light.woff");
  font-family: 'futura';
  font-style: normal;
  font-weight: 600;
}


@font-face {
  src: url("../fonts/FuturaPT-Demi.woff2"), url("../fonts/FuturaPT-Demi.woff");
  font-family: 'futura';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/FuturaPT-Medium.woff2"), url("../fonts/FuturaPT-Medium.woff");
  font-family: 'futura';
  font-style: normal;
  font-weight: 400;
}






