
.photo {
  display: flex;
  justify-content: center;
  padding: 20px 0 70px;
}


.photo__item {
  position: relative;
  max-width: 100%;
  width: 100%;

}


.photo__wrapper {
  display: grid;
  padding: 0 5px;
  grid-row-gap: 20px;

  @media screen and (min-width: 684px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
  }
  @media screen and (min-width: 1016px){

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10px;
  }
  @media screen and (min-width: 1346px){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px;

  }
}

.photo__sale {
  top: 14px;
  left: 19px;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #d01345;
  box-shadow: 1px 3px 4px -1px rgba(0,0,0,10%);
  z-index: 2;
  padding: 3px 6px;
}


.photo__img{
  width: 100%;
  height: 444px;
}

.photo__item:hover {
  .photo__overlay {
    visibility: visible;
    transition: 8s;
    transform: translateY(0);
  }
  .photo__inner{
    background-color: white;
  }
  &:before {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
  }
}

.photo__title {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2D2D2D;

  //-webkit-box-flex: 1;
  //-ms-flex: 1;
  //flex: 1;
}

.photo__inner {
  //display: grid;
  //grid-template-rows: 62px 37px;
  //padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  //-webkit-box-orient: vertical;
  //-webkit-box-direction: normal;

  //-webkit-box-flex: 1;
  //-ms-flex: 1;
  //flex: 1;
  //display: -webkit-box;
  //display: -ms-flexbox;
  //display: flex;
  //-webkit-box-orient: vertical;
  //-webkit-box-direction: normal;
  //-ms-flex-direction: column;
  //flex-direction: column;
}

.photo__price {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  &.photo__price:first-child {
    display: flex;
    justify-content: flex-end;
    align-self: end;
    margin-top: auto;
  }
}

.photo__price-old {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;

  opacity: 0.7;
  text-decoration-line: line-through ;
  font-family: 'futura', Arial, sans-serif;

}

.photo__price-new {
  font-size: 16px;
  line-height: 24px;
  font-family: 'futura',Arial, sans-serif;
  font-weight: 700;

  color: #D01345;

}

.wrapper--item__heart {
  background-image: url("../img/svg/heart (3).svg");
  width: 23px;
  height: 20px;
  background-size: cover;
  position: absolute;
  margin-left: 296px;
  margin-top: 402px;
  &:active {
    background-image: url("../img/svg/red-heart.svg");
    transition: 250ms;
  }
}

  .hover-image-scale {
    display: inline-block;
    overflow: hidden; /* Скрываем всё за контуром */
  }
  .hover-image-scale img {
    transition: 1s; /* Время эффекта */
    display: block;
  }
  .hover-image-scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
